<section class="about_me_container" id="sobre_mi">	
    <div>
        <h2 class="title" >
            Sobre mí
        </h2>
    </div>
    <div class="text">
        <p>
            +1 año como analista y desarrollador de software, especializado en front-end con enfoque en diseño y experiencia de usuario.
            <br> 
        </p>
        <p>
            Desde que descubrí el desarrollo web, he estado en un aprendizaje constante perfeccionando en el dominio de tecnologias para construir soluciones que no solo se vean bien, sino que también funcionen a la perfección. Mi objetivo es diseñar experiencias digitales que sorprendan y faciliten la interacción de los usuarios.
            <br>
        </p>

        <p>
            Si buscas a alguien con ojo para los detalles y obsesión por el rendimiento y la usabilidad, ¡hablemos!
        </p>
    </div>

</section>
<style>
    .about_me_container {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        padding: 0 0 0 3rem 0;
        
        .title{
            text-wrap: nowrap;
            font-size: 2rem;
        }

        .text{
            font-weight: 200;
            font-size: 1.3rem;

            p{
                margin-bottom: 1rem;
                
            }
        }
    }

    @media screen and (max-width: 599px) {
        .about_me_container{
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>