<section class="about_me_container" id="sobre_mi">	
    <div>
        <h2 class="title" >
            Sobre mí
        </h2>
    </div>
    <div>
        <p>
            Soy un desarrollador web autodidacta, apasionado por la tecnología y la programación. <br><br>
            Me gusta aprender cosas nuevas y enfrentar desafíos. <br> <br>
            Actualmente estoy aprendiendo React y mejorando mis habilidades en JavaScript.
        </p>
    </div>

</section>
<style>
    .about_me_container {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        padding: 0 0 0 3rem 0;
        
        .title{
            text-wrap: nowrap;
        }
    }

    @media screen and (max-width: 599px) {
        .about_me_container{
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>