---
import foto from '../../images/David.webp';
import githubicon from '../icons/Github.svg';
import mailicon from '../icons/mail.svg';	
import linkedinicon from '../icons/linkedin.svg';
---

<section class="heading_container">
    <div class="text_container">
        <div class="title">
            <h1>
                Hey 👋, soy <br>
                <span class="one_spam">David Castellanos</span> <br>
                <span class="second_spam">Front-end developer</span> 
            </h1>   
        </div>
        <div class="text">
            <p>
                Diseño y Desarrollo Webs profesionales, Webs que convierten y hacen crecer tu negocio. <br> <br>
                ¡Trabajemos Juntos! 🤝
            </p>
        </div>
        <div class="social">
            <a href="dscastellanos.sanchez@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
                >
                <img src={mailicon.src}alt="Correo icono">
                Correo
            </a>
            <a href="https://www.linkedin.com/in/davidcastellanosdev/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img src={linkedinicon.src} alt="Linkedin icono">
                Linkedin
            </a>
            <a href="https://github.com/DacasteDev"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img src={githubicon.src} alt="Github icono">
                Github
            </a>
        </div>
    </div>
    <div class="photo">
        <img src={foto.src} alt="David Castellanos">
    </div>
</section>

<style>
    .heading_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        margin: 0 auto;
        padding: 5rem 0;
        overflow: hidden;

        .text_container{
            display: flex;
            flex-direction: column;
            gap: 2rem;	

            .title{
                font-size: 1.6rem;
                .one_spam {
                    color: var(--primary-color);
                }
            
                .second_spam {
                    color: var(--secondary-color);
                }
            }
    
            .text{
                font-size: 1.3rem;
                max-width: 450px; 
                font-weight: 200;
            }

            .social {
                display: flex;
                flex-direction: row;
                justify-items: left;
                gap: 1rem;
                a {
                    color : var(--white-color);
                    text-decoration: none;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    border: 1px solid var(--primary-color);
                    font-size:.8rem;
                    display: flex;
                    align-items: center;
                    
                    img{
                        margin-right: .5rem;
                    }
                }
            }
        }

        
        .photo {
            width: 250px;
            height: 250px;
            overflow: hidden;

            img{
                width: 100%;	
                height: 100%;
                object-fit: contain;
            };
        }

    }

    @media screen and (max-width: 599px) {
        .heading_container {
            flex-direction: column;
            gap: 3rem;
        }
    }
    
</style>
