---
import foto from '../../images/David.webp';
import githubicon from '../icons/Github.svg';

import mailicon from '../icons/Mail.svg';	
---

<section class="heading_container">
    <div>
        <div class="title">
            <h1>
                Hey 👋, soy <br>
                <span class="one_spam">David Castellanos</span> <br>
                <span class="second_spam">Front-end developer</span> <br> <br>
            </h1>   
        </div>
        <div class="text">
            <p>
                Diseño y Desarrollo Webs profesionales, Webs que convierten y hacen crecer tu negocio. <br> <br>
                ¡Trabajemos Juntos! 🤝
            </p>
        </div>
        <div class="social">
            <a href="">
               
                Linkedin
            </a>
            <a href="">
                <img src={mailicon.src}alt="Correo icono">
                Mail
            </a>
            <a href="">
                <img src={githubicon.src} alt="Github icono">
                Github
            </a>
        </div>
    </div>
    <div class="photo">
        <img src={foto.src} alt="David Castellanos">
    </div>

    
</section>

<div class="bulding"> 
    <p>Estamos contruyendo estas secciones de la pagina 🔨</p>
</div>


<style>
    .heading_container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4rem;
        margin: 0 auto;
        padding: 4rem 0;

    }

    .photo {
        width: 200px;
        height: 200px;
        overflow: hidden;

    }

    .photo img {
        width: 100%;	
        height: 100%;
        object-fit: contain;
    }

    .one_spam {
        color: var(--primary-color);
    }

    .second_spam {
        color: var(--secondary-color);
    }

    @media screen and (max-width: 599px) {
        .heading_container {
            flex-direction: column;
            gap: 2rem;
        }
    }

    .text {
        max-width: 450px;
       
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-items: left;
        gap: 1rem;
        
        a {
            color : var(--white-color);
            text-decoration: none;
            padding: .5rem 1rem;
            border-radius: 1rem;
            border: 1px solid var(--primary-color);
            margin: 2rem 0;
        }
    }
    
    

    .bulding {
        text-align: center;
    }
</style>
