<header class="header_container" id="inicio">
    <nav class="nav_container">
        <a href="#inicio">Inicio</a>
        <a href="#sobre_mi">Sobre mí</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
</header>

<style>
    
    .header_container {
        position: fixed;
        top: 10px; /* Se mantiene en la parte superior */
        left: 50%; /* Centra horizontalmente */
        transform: translateX(-50%); /* Asegura que esté perfectamente centrado */
        z-index: 100; /* Se coloca encima de otros elementos */
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra para destacar */
        overflow: hidden;

        .nav_container {
            max-width: 350px;
            margin: 1rem auto 0 auto;
            display: flex;
            justify-content: space-evenly;
            border-radius: 1rem;
            background-color: #071120d7;
            border: .5px solid var(--primary-color);
            position: sticky;
           
            a {
                color: var(--white);
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                padding: 8px;
                text-wrap: nowrap;
            }
        }
    }

</style>